node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.*
*.md
.vscode
.idea
.DS_Store
*.log
*.lock
*.json
*.yml
*.yaml
*.toml
*.config.js
*.config.ts
*.config.json
*.config.yml
*.config.yaml
*.config.toml 