node_modules
dist
build
coverage
.next
.vercel
.turbo
.vscode
.idea
*.log
*.lock
*.md
*.json
*.yml
*.yaml
*.toml
*.env
*.env.*
*.example
*.config.js
*.config.ts
*.config.json
*.config.yml
*.config.yaml
*.config.toml 